[Unit]
Description=Refresh switchers.events visitor stats every 20 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=20min

[Install]
WantedBy=timers.target
